 *{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }

.container{
    width: 70%;
    height: 600px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 240px;
}

.inner{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* width: 80%; */
    height: 600px;
    flex-basis: auto;
}

.image{
    /* flex-basis: 45%; */
    position: absolute;
    left: 30px;
}

h3{
    position: absolute;
    top: 0px;
    right: 222px;
    font-size: 23px;
}

.form{
    position: absolute;
    right: 67px;
    top: 80px;
}



.inner-img{
    height: 540px;
    border: 1px solid white;
    border-radius: 30px;
    opacity: 0.8;
}

input{
    margin: 7px;
    padding: 10px;
    border-style: hidden;
    background-color: #EAF4FF;
    border-radius: 4px;
    width: 360px;
}

.space{
    font-size: 15px;
}

.hero-btn{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 9px 40px;
    cursor: pointer;
    margin: 8px;
    background-color: #0075FF;
    border-style: hidden;
    border-radius: 6px;
    position: absolute;
    right: 125px;
}

.form p{
    display: flex;
    flex-direction: row;
    color: #3333317a;
  }
  p:before, p:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  p:before {
    margin-right: 10px
  }
  p:after {
    margin-left: 13px
  }

  .icons{
    position: absolute;
    right: 155px;
    bottom: 80px;
  }

  .icons img{
      height: 30px;
      width: 35px;
      margin: 7px;
  }

  .inner span{
    position: absolute;
    bottom: 30px;
    right: 260px;
    color:black;
    cursor: pointer;
  }

  #login{
      position: absolute;
      bottom: 30px;
      color: black;
      right: 90px;
      cursor: pointer;
  }